@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* 포켓 */
#money_100, #money_500{
	width: 50px;
	height: 50px;
	background-size: 100%;
	text-indent:-9999px;
	float: left;
	cursor: pointer;
	border : none;
}
#money_1000, #money_5000, #money_10000, #money_50000{
	
	width: 125px;
	height: 55px;
	background-size: 100%;
	text-indent:-9999px;
	float: left;
	cursor: pointer;
}

#pocket{
	padding : 15px;
	float:right;
	width: 400px;
	height: 195px;
	background-color: orange;
	position: fixed;
	top:100px;
	right: 10px;
	padding: 5px;
	border: 5px solid black;
}
#pocketHide, #pocketHide2{
	float:left;
	width: 35px;
	height:145px;
	margin:10px;
}
/* 바스켓 */
#basket{
	padding : 15px;
	float:right;
	width: 400px;
	height: 500px;
	background-color: green;
	position: fixed;
	top:300px;
	right: 10px;
	padding: 5px;
	border: 5px solid black;
}
#basketHide, #basketHide2{
	float:left;
	width: 35px;
	height:450px;
	margin:10px;
}
#myList{
	height: 450px;
	overflow: auto;
}
/* 외관 */
body{
	font-family: 'Do Hyeon', sans-serif;
}
#outer{
	margin:50px 50px 0 50px;
	width:670px;
	height: 850px;
	border: 8px solid black;
	background: rgb(0,20,37);
	background: linear-gradient(0deg, rgba(0,20,37,1) 0%, rgba(0,62,73,1) 100%);
	
}

#machineFunction{
	width: 670px;
	height : 630px;
	/* background-color: black; */
	/* border-radius: 0 0 10px 10px; */
}
#itemBox{
	width:450px;
	margin:15px;
	border: 6px solid black;
	border-radius: 10px 10px 10px 10px;
	background-color: #e1e4e3;
	float:left;
}
#work{
	width : 150px;
	margin:15px 15px 15px 0;
	border: 6px solid black;
	border-radius: 10px 10px 10px 10px;
	background-color: #e1e4e3; 
	float:left;
}
/* 헤더 */
#header{
	width: 600px;
	height : 50px;
	padding: 20px 0px;
	text-align: left;
}

#name{
	margin:0 0 0 40px;
	color:white;
	font-size: 25px;
}
/* 조착창 */
#amount{
	margin:5px;
	width: 125px;
	height: 40px;
	float:left;
	color : white;
	background-color: blue;
	font-size:13px;
	line-height:12px;
	text-align: center;
	border : solid 2px black;
}
#info{
	margin:5px;
	width: 125px;
	height: 100px;
	float:left;
	background-color: white;
	overflow: auto;
	font-size:12px;
	border : solid 2px black;
}

#droppable {
	width: 125px;
	height: 100px;
	padding: 0;
	float: left;
	margin: 5px;
	border : solid 3px black;
	text-align:center;
	line-height: 50px;
	font-size: 18px;
	background-color: #313039;
	color: white;
}

#set{
	margin : 20px 0 50px 40px;
	width: 65px;
	height: 65px;
	float:left;
	border: solid 3px white;
	border-radius:50%;
	background-color: white;
	padding:4px;
	font-size:5px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

#reset{
	width: 65px;
	height: 65px;
	float:left;
	padding:4px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	font-size: 10px;
	color:gray;
}

#resetOuter{
	margin : 10px 0 50px 40px;
	float:left;
	width: 65px;
	height: 65px;
	background-color: black;
}

#output{
	margin: 20px 0 0 30px;
	width : 420px;
	height : 100px;
	border: 6px solid black;
	border-width: 6px 6px 12px 6px;
	border-radius: 10px 10px 10px 10px;
	background-color: #4b5152;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	float:left;
	font-style: italic;
}

#coin{
	margin: 20px 0 0 53px;
	width : 100px;
	height : 100px;
	border: 6px solid black;
	border-width: 6px 6px 12px 6px;
	border-radius: 10px 10px 10px 10px;
	background-color: #4b5152;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	float:left;
}

#leftLeg{
	float:left;
	width: 50px;
	height: 50px;
	margin-left: 190px;
}
#rightLeg{
	float:left;
	width: 50px;
	height: 50px;
	margin-left: 300px;
}
/* item창  */
ul{
	list-style: none;
  	padding-left:0px;
  	margin:0px;
}

.firstCol li, .secondCol li, .thirdCol li, .forthCol li{
	float:left;
	width: 146px;
	/* position:relative; */
}

.item{
	border:solid 4px black;
	width: 100px;
	height: 100px;
	float:left;
	box-sizing:border-box;
	margin : 3px 23px 0px 23px;
}
.minus{
	width: 23px;
	height: 25px;
	float:left;
	font-size:15px;
	text-align:center;
	cursor: pointer;
}
.itemInfo{
	border:solid black;
	border-width : 0px 3px 3px 3px;
	/* box-sizing:border-box; */
	width: 100px;
	height: 30px;
	float:left;
}
.itemName{
	width: 94px;
	height: 13px;
	float:left;
	background-color: white;
	font-weight: bolder;
	font-size:13px;
	text-align:center;
}
.itemPrice{
	width: 94px;
	height: 12px;
	float:left;
	background-color: white;
	font-size:12px;
	text-align:center;
}
.plus{
	width: 23px;
	height: 25px;
	float:left;
	font-size:15px;
	text-align:center;
	cursor: pointer;
}
